/*  your css code here. If applicable */
*{
	margin=0;
	padding:0;
	box-sizing:border-box;
	
}
header{
	background-color: #011e29;
	padding:2px;
	text-align:center;
	height:50px;
	color:#f5f5f5;
	width:100%;
	position:fixed;
}

img{
	padding:2px;
	height:100px;
	width:100%;
}
main{
	position:relative;
	top:60px;
	display:flex;
	flex-basis:auto;
	align-items:justify;
	
}
body{
	background-color:#f5f5f5;
}
h3{
	text-align:center;
}

ul{
	
	position:center;
	padding:10%;
}
div{
	display:inline-block;
	position:relative;
	border-radius:20px;
	text-align:center;
	left:2%;
	margin:10px;
	width:200px;
	background-color:white;
	padding:5px;
}
.latest-news-section{
	width:150px;
	background-color:white;
	border-radius:20px;
	text-align:center;
}
.pictorial-news-section{
	text-align:center;
}